{% extends 'base.html' %}

{% block title %}

{% if game_info %}

{{ game_info.name }} Details

{% else %}

Game Not Found

{% endif %}

{% endblock %}

{% block content %}

<!-- <a href="/homepage">Back to homepage</a>
 -->
{% if game_info %}

    <h3>{{ game_info.name }}</h3><br/>
    <div id="rated">
    {% if rating %}
        You rated this: {{ rating.score }}
    {% endif %}
    </div>

     <form action="/gamerating" method="POST">
        <input type="hidden" id="gameId" name="game_id" value="{{ game_info.game_id }}">
        Rating: 
        <input type="radio" name="rating" value="1"> 1
        <input type="radio" name="rating" value="2"> 2
        <input type="radio" name="rating" value="3"> 3
        <input type="radio" name="rating" value="4"> 4
        <input type="radio" name="rating" value="5"> 5
        <input type="submit" id="submit-btn" value="Submit">
    </form>
        <b> Rating Guidelines</b><br/>
        <b>1:</b> Meh 
        <b>2:</b> It's OK 
        <b>3:</b> Fine 
        <b>4:</b> Good!
        <b>5:</b> BEST GAME EVAR 

    <h3>Systems:</h3> 
    {% for system in game_info.gamesystems %}
        {{ system.system.name }}<br/>
    {% endfor %} <br/>

    <h3>Genres: </h3>
    {% for genre in game_info.gamegenres %}
        {{ genre.genre.name }}<br/>
    {% endfor %} <br/>


    {% if game_info.cover != None %}
    <img src="{{ game_info.cover }}" style="width:100px;">
    {% endif %}<br/><br/>
    
    {{ game_info.summary }} <br/><br/>

    {% if game_info.storyline != None %}
        {{ game_info.storyline }}
    {% endif %}<br/><br/>

    {% if game_info.videos != None %}
        {% for video in game_info.videos %}
            {{ video.video_name }} <br/>

              <iframe width="420" height="315" allowfullscreen

              src="http://www.youtube.com/embed/{{ video.video_url}} ">
          </iframe>
          <br/>
      {% endfor %}
      {% endif %}


    {% if game_info.screenshots != None %}
        {% for screenshot in game_info.screenshots %}
            <img src="{{ screenshot.screenshot_url }}" style="width:{{ screenshot.screenshot_width }}px height:{{ screenshot.screenshot_height }};">
        {% endfor %}
    {% endif %}<br/><br/>

{% else %}
<br/><br/>

<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>

 <p>No game found by that name. Please try again. </p>

<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>
<i class="fa fa-gamepad" aria-hidden="true"></i>
<i class="fa fa-frown-o" aria-hidden="true"></i>


{% endif %}
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/rating.js"></script>
{% endblock %}