{% extends 'base.html' %}

{% block title %}Games Recommendations{% endblock %}

{% block content %}

  
<!--   <h3><a href="/user/{{  session.user_id  }}">Go to my profile!</a></h3><br/>
 -->
 {% if search_term %} 
 <input type="hidden" id="hidden_stuff" value="{{ search_term }}">
 {% endif %}
 
  <h3>Get a game recommendation</h3>

    <form action="/recommendation" method="GET">

    <b>Filter by system: </b><br/>

      {% for system in system_info %}
        <input type="checkbox" name="systems" value="{{ system.system.system_id }}">{{ system.system.name }}
      {% endfor %}<br/><br/>

      <b>Filter by genre: </b><br/>

        {% for genre in genre_info %}
          <input type="checkbox" name="genres" value="{{ genre.genre_id }}">{{ genre.name }}
        {% endfor %}
      <br/><br/>


      <input type="submit" value="Gimme!">
<br/><br/>
<div id="search-results"></div>

<!-- {% raw %}
  <script id="search-results" type="text/x-handlebars-template">
    {{#each games}}
    <a href='/games/{{this.game_id}}'>{{this.name}}</a></br>
    {{/each}}
  </script>
{% endraw %} -->

<!--     </form>

  <h3>Search for games to rate</h3>

  <form action="/search" method="GET">
    Game name: <input type="text" name="search">
    <input type="submit" value="Search">
    </form>
<br/>
 -->
<!--   <h3><a href="/logout">Logout</a></h3>
 -->
  <script src="http://code.jquery.com/jquery.js"></script>

  <script>
//   $(document).ready(function(){
//     if ('userInput' in searchResults){
//       debugger;
//       updateHomepage(searchResults['userInput'])
//       searchResults = {};
//     }
//   })
 // </script>

<script src="/static/searchResults.js"></script>
{% endblock %}