{% extends 'base.html' %}

{% block title %}Recommendation{% endblock %}

{% block content %}

 <style>
  .carousel-inner > .item > img {
    margin: 0 auto;
    width: auto;
    height: 1000;
    max-height: 1000;
    min-height: 1000;
}

  #game-rec-carousel img {
    width: auto;
    height: 1000;
    max-height: 1000;
    min-height: 1000;
}
  .test-images {
    /*height: 400px !important;*/
    max-height: 400px !important;
    min-height: 5000;
    width: auto;
    overflow: hidden;
}
  .item-active {
    height: 300px !important;
}
 </style>


 {% if games_info == [] %}
  <center>
    <div class="row">
      <div class="col-xs-12">
    Please check at least one system and one genre!<br/>
    If you're sure you did, there may not be any games that fit the criteria.
      </div>
    </div>
  </center>
{% elif games_info[0] == "no" %}
  <center>
    <div class="row">
      <div class="col-xs-12">
    You've rated every game exactly the same. That's not very useful
    for trying to figure out what you like. <br/>
    Please change it up! Rate some stuff you don't like, rate some stuff you love, etc. <br/>
    This will give you the best recommendations!
      </div>
    </div>
  </center>
{% else %}
     {% if games_info[0] < 10 %}
     <center>
      <div class="row">
        <div class="col-xs-12">
        <b>Please rate at least 10 games to get a recommendation.</b></br>
        You've rated <b>{{ games_info[0] }}</b> games.
          </div>
        </div>
     </center>
    {% else %}
        <h3><center>Why don't you try: </center></h3><br/><br/>

<!-- Main carousel div -->
<div id="game-rec-carousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style=" width:100%; height: 500px !important;">
    <div class="item active">
      <center>
        <h1>
          <a href="/games/{{ games_info[0].game_id }}">{{ games_info[0].name }}</a>
        </h1>
      </center>
      <!-- This shows the first thing in the carousel -->
      {% if games_info[0]['cover'] != None %}
        <img class="test-images" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ games_info[0]['cover'] }}">
      {% else %}
        <img class="test-images" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg">
      {% endif %}
      <!-- <div style="bottom: 0; position: absolute"> -->
      <span style="vertical-align: bottom;">
         <center> It's a {{ games_info[0].percentage }}% match! </center>
      </span>
      <!-- </div> -->
    </div>

    <!-- This shows everything else in the carousel -->
    {% for game in games_info[1:] %}
      <div class="item" style="postion: relative;">
      {% if game['cover'] != None %}
        <center>
          <h1>
            <a href="/games/{{ game.game_id }}">{{ game.name }}</a>
          </h1>
        </center>
        <img class="test-images" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game['cover'] }}">
      {% else %}
        <img class="test-images" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg">
      {% endif %}
      <!-- <div style="bottom: 0; position: absolute"> -->
        <center>It's a {{ game.percentage }}% match!</center>
      <!-- </div> -->

      </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <!-- This shows the arrows on the left and right -->
  <a class="left carousel-control" href="#game-rec-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#game-rec-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    {% endif %}
{% endif %}
{% endblock %}