{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<h1>Registration Form</h1>

<form action="/register" method="POST">
    Username: <input type="text" name="username"><br/>
    Email: <input type="email" name="email"><br/>
    Password: <input type="password" name="password"><br/>
    Systems Owned: 
        <input type="checkbox" name="system" value="3ds">3DS
        <input type="checkbox" name="system" value="switch">Switch
        <input type="checkbox" name="system" value="wiiu">Wii U
        <input type="checkbox" name="system" value="ps4">Playstation 4
        <input type="checkbox" name="system" value="xbox360">Xbox 360
    </br></br></br>

    <input type="submit" value="Register">

{% endblock %}