{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<h1>Registration Form</h1>

<form action="/register" method="POST">
    Username: <input type="text" name="username" required><br/>
    Email: <input type="email" name="email" required><br/>
    Password: <input type="password" name="password" required><br/>
    Platforms: </br>

         {% for platform in platform_list %}
            <input type="checkbox" name="systems" value="{{ platform }}">{{ platform }}
        </br>
        {% endfor %}
    </br></br></br>

    <input type="submit" value="Register">

{% endblock %}