{% extends 'base.html' %}

{% block title %}{{ user_info.username }}'s' Profile{% endblock %}

{% block content %}

<a href="/">Back to homepage</a>

<p>
  <h3> Username: </h3>  {{ user_info.username }}        <br>
  <h3> Email: </h3>     {{ user_info.email }}           <br>
  <h3> User Since: </h3> {{ account_created }} <br>
  <h3> Systems: </h3>

  {% for system in system_info %}
    {{ system.system.name }} <br>
  {% endfor %}

  <h3> Games I've Rated: </h3>
  <table>
      <tr>
        <th>Game</th>
        <th>Rated</th>
      </tr>
      <tr>
        <td>
            {% for game in rating_info %}
            {{ game[0] }}<br/>
            {% endfor %}
        </td>
        <td>
            {% for game in rating_info%}
            {{ game[1] }}<br/>
            {% endfor %}
        </td>
      </tr>
    </table>
</p>

{% endblock %}