{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" 
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" 
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

      <title>Login</title>
  </head>

  <body>
    <style>
      body {
        font-family: 'Inconsolata', monospace;
        background-image: url("/static/img/gaming-pattern.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
      h1, h2, h3 {
      font-family: 'Inconsolata', monospace;
      }
    </style>
<center><br/>
<h2>Login or <a href="/register">Register</a></h2><br/>
  <div id="login">
    <form action="/login" method="POST">
      <span> Email: <br/><input type="email" name="email"></span></br>
      <span>Password: <br/><input type="password" name="password"></span></br><br/>
      <input type="submit" value="Login">
    </form>
  </div>
</center>
  </body>
</html>